@font-face {
    font-family: 'assc';
    src: url('fonts/assc.ttf');
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    /*      overflow: hidden;*/
/*    background: #0f0f0f;*/
    font-family: 'assc';
    background: #000;
}

* {
    font-family: 'assc';
    src: url('fonts/assc.ttf');
}

img {
    width: 100%;
    height: auto;
}

a {
    list-style: none;
    text-decoration: none;


}
button {
    color: #fff;
    background: none;
    padding: 24px;
    border: 1px solid rgba(255, 255, 255, .3);
    font-size: 16px;
    border-radius: 50%;
    margin: .4em;
    display: inline-block;
}

button:focus {
    outline: none;
}
.image-slider {
    z-index: 0;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.image-slide {
    height: 100vh;
    margin: 0 auto;
 
}

.slick-slide.slick-center {
    transform: scale(1.2);
    transition: transform .8s 1.4s cubic-bezier(.84, 0, .08, .99);
}

.slick-slide {
    transition: transform .7s cubic-bezier(.84, 0, .08, .99);
}

.slider-control {
    margin: 0%;
    position: absolute;
    z-index: 2;
    bottom: 8%;
    left: 15%;
    transform: translate(-50%, -50%);
    display: flex;
}


.block-1 {
    z-index: 1;
    /*      position: fixed;*/
    position: absolute;
    height: 100vh;
    width: 5%;
    left: 0%;
    background: #0f0f0f;
}

.block-2 {
    z-index: 1;
    /*      position: fixed;*/
    position: absolute;
    height: 100.2vh;
    width: 22%;
    left: 25%;
    background: #0f0f0f;
}

.block-3 {
    z-index: 1;
    /*      position: fixed;*/
    position: absolute;
    height: 100.3vh;
    width: 5%;
    right: 0%;
    background: #0f0f0f;
}

.overlay1 {
    z-index: 0;
    /*      position: fixed;*/
    position: absolute;
    height: 100vh;
    width: 21%;
    left: 5%;
    background: rgba(0, 0, 0, .65);
}

.text-slider-wrapper {
    z-index: 2;
    position: absolute;
    width: 100%;
    top: 45%;
}

.text-slider {
    margin: 0%;
    padding: 0%;
    height: 100vh;
}

.text-slide h1 {
    color: #fff;
    font-size: 64px;
    /*      font-family: "Cinzel";*/
    font-weight: lighter;
    text-transform: uppercase;
    padding-left: 10%;
}

@media(max-width: 990px) {

    .block-2,
    .overlay {
        display: none;
    }

    .block-1 {
        width: 47%;
    }

    .block-3 {
        width: 13%;
    }

    .slide-slick {
        display: none !important;
    }

    .text-slide h1 {
        font-size: 30px !important;
    }

    .text-slider-wrapper {
        position: absolute;
        top: 60% !important;
    }

    .slider-control {
        left: 22.5%;
    }
}

/*grid*/
#band{
    position: relative;
    top: 5rem;
}
.card span {
    font-size: 12px;
    font-weight: bold;
/*    color: #999;*/
    text-transform: uppercase;
    letter-spacing: .05em;
    margin: 2em 0 0 0;
}

.band {
    width: 90%;
    max-width: 1240px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    transition: all 5s;
}

.card {
    background: #fff;
    text-decoration: none;
    color: #444;
    box-shadow: 0 2px 5px rgab(0, 0, 0, .1);
    display: flex;
/*    min-height: 100%;*/
    flex-direction: column;
    justify-content: space-between;
/*    hover를 위한 포지션*/
    position: relative;
    top: 0;
    transition: .2s;
} 

.card:hover{
top: -2px;
    box-shadow: 0 4px 5px rgba(0,0,0,2);
}

.thumb {
    padding-bottom: 65%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 395px;
}
.thumb .h1
{
    position: relative;
    top: 250px;
    left: 10px;
    font-size: 25px;
    color: #fff;
    text-align: justify;

}
.span {
    position: relative;
    top: 300px;
    left: 10px;
    color: red;
}
article{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
}
article p{
    flex: 1;
}
.item{
    overflow: hidden;
}
.item:hover .thumb{
    transform: scale(1.1);
    transition: 2s;
}
@media screen and (min-width:500px) {
    .band {
        grid-template-columns: 1fr 1fr;
    }

    .item-1 {
        grid-column: 1/3;
    }
    .item-2{
        grid-column: 1/3;
    }
}

@media screen and (min-width:850px) {
    .band {
        grid-template-columns: repeat(4, 1fr);
    }
}
p {
    text-align: left;
    color: grey;
    font-weight: 300;
    margin-top: 10px;
}

.wall-item {

    position: relative;
    top: 20rem;

    display: block;
    margin: 0 0 24px 0;
    padding: 12px;
    background: #1e1e1e;
    transition: all 200ms;
}

.wall-item:hover {
    transform: translateY(-6px);
    transition: all 200ms;
}

.wall-item > img {
    display: block;
    width: 100%;
    margin: 0 0 30px 0;
}

.wall-item h2 {
    text-align: center;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 0;
    padding-bottom: 0;
}

.wall-column {
    display: block;
    position: relative;
    width: 33.3333%;
    float: left;
    padding: 0 12px;
    box-sizing: border-box;
}

@media (max-width:786px) {
    .overlay1 {
        display: none;
    }
    #support-grid{
        position: relative;
        left: 1.5rem;
    }
    .posts_list li {
    width: 300px;

}
    
}

@media (max-width: 640px) {
    .wall-column {
        width: 50%;
    }

}

@media (max-width: 480px) {
    .wall-column {
        width: auto;
        float: none;
    }
}



/*spurs tv
==============================================
======================================
====================================
==============================
====================*/
.secontainer:after,
.umbraco-forms-form form:after {
    content: " ";
    display: table;
    clear: both;
}

#main {
    margin-top: calc(50px + 55px);
}

.psg-tv {
    position: relative;
    top: 30rem;
    overflow: hidden;
    background: #0A1324;
    width: 100%;
}

.psg-tv > .imageBackgroundCover {
    position: absolute;
    top: 0;
    width: 100%;
}

.psg-tv__content {
    position: relative;
    z-index: 1;
}

.secontainer {
    -webkit-tap-highlight-color: rgba(21, 30, 45, 0.2);
    font-size: 1.6rem;
    line-height: 1.875;
    color: #151e2d;
    /*    font-family: "Unica77-LL-TT", Helvetica, Arial, sans-serif;*/
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.secontainer:before,
.umbraco-forms-form form:before {
    content: " ";
    display: table;
}

.psg-tv-masthead {
    color: #fff;
    position: relative;
    padding-top: 15px;
}

.psg-tv-masthead__sponsor {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    top: 15px;
    right: 0;
    height: 30px;
}

.psg-tv-masthead__sponsor span {
    /*    font-family: "alternate-gothic-no3",Helvetica,Arial,sans-serif;*/
    text-transform: uppercase;
    letter-spacing: .7px;
    font-size: 12px;
    line-height: 1;
    opacity: .7;
    margin: 0 15px -2px;
}

.psg-tv-masthead__sponsor a {
    height: 100%;
}

.psg-tv-masthead__sponsor img {
    height: 100%;
}

.psg-tv-masthead__content {
    margin-bottom: 40px;
}

.js-animate-in.is-showing .psg-tv-masthead__header {
    animation-name: fadeinSmall;
    animation-duration: 800ms;
    animation-delay: 100ms;
    animation-fill-mode: forwards;
}

.csstransforms .psg-tv-masthead__header {
    opacity: 0;
    transform: translateY(5px);
}

.psg-tv-masthead__header {
    font-size: 30px;
    font-size: 3rem;
    line-height: 1.33333;
    margin: 92px 0 0;
    padding: 0;
}

.psg-tv-search {
    position: relative;
    margin: 18px 0;
}

.js-animate-in.is-showing .psg-tv-search__inner {
    animation-name: fadeinSmall;
    animation-duration: 800ms;
    animation-delay: 300ms;
    animation-fill-mode: forwards;
}

.csstransforms .psg-tv-search__inner {
    opacity: 0;
    transform: translateY(5px);
}

.psg-tv-search input {
    padding: 0 30px;
    font-size: 15px;
    line-height: 1;
    color: #fff;
    height: 36px;
    border-bottom-color: #fff;
    opacity: .5;
    transition: opacity .3s ease-in;
}

.psg-tv-search__button {
    background: transparent;
    border: none;
    color: inherit;
    box-shadow: none;
    position: absolute;
    left: -8px;
    top: 50%;
    transform: translate(0, -50%);
    opacity: .5;
    transition: opacity .3s ease-in;
}

.psg-tv-search__button .icon {
    height: 14px;
    width: 14px;
    fill: currentColor;
    display: block;
}

.psg-tv-search__button .icon {
    height: 14px;
    width: 14px;
    fill: currentColor;
    display: block;
}

path[Attributes Style] {
    d: path("M 14.427 16.427 a 8.5 8.5 0 1 1 2 -2 l 5.585 5.585 c 0.55 0.55 0.546 1.431 0 1.976 l -0.023 0.023 a 1.398 1.398 0 0 1 -1.976 0 l -5.585 -5.585 l -0.001 0.001 Z M 9.5 16 a 6.5 6.5 0 1 0 0 -13 a 6.5 6.5 0 0 0 0 13 Z");
    fill-rule: nonzero;
}

.tvtext {
    margin-top: 7rem;
    margin-bottom: 16rem;
    text-align: center;
}

.tvtext p:first-child {
    font-size: 5rem;
}

.tvtext p:last-child {
    font-size: 2rem;
}

.cardd span {
    font-size: 12px;
    font-weight: bold;
    color: #999;
    text-transform: uppercase;
    letter-spacing: .05em;
    margin: 2em 0 0 0;
}

.bandd {
    width: 90%;
    max-width: 1240px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
}

.cardd {
    background: #fff;
    text-decoration: none;
    color: #444;
    box-shadow: 0 2px 5px rgab(0, 0, 0, .1);
    display: flex;
    min-height: 100%;
    flex-direction: column;
    justify-content: space-between;
    /*    hover를 위한 포지션*/
    position: relative;
    top: 0;
    transition: .2s;
}

.cardd:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 2);
}

.thumbb {
    padding-bottom: 60%;
    background-size: cover;
    background-position: center center;
}

.-article {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}

.-article p {
    flex: 1;
}

.tvtext p {


    text-align: center;
}

.tvtext p:first-child {
    font-size: 5rem;
}

.tvtext p:last-child {
    font-size: 2rem;
}

#band{
    transition: all .5s;
}
.btnbutton1 {
    position: relative;
    top: 0rem;
    left: 40%;
    z-index: 4;
    
}
.btnbutton1 a{
    cursor: pointer;
}
.btn0 {
/*    background-color: #000;*/
    border-radius: 0rem;
    color: #fff;
    display: inline-block;
    margin-top: 2rem;
    padding: .4rem .5rem;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 1s all ease;

}

.btn0::before {
    background: #fff;
    color: #000000;
    opacity: .5;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    transition: all .6s ease;

}

.btn2::before {
    width: 100%;
    height: 0;
    transform: translate(-50%, -50%)rotate(45deg);
}

.btn2:hover::before {
    height: 380%;
    z-index: 2;
}


#support-grid ul {
    margin-top: 140px;
}

#support-grid ul:after {
    content: "";
    display: block;
    clear: both;
}

#support-grid ul li {
    float: left;
    overflow: hidden;
    /*            height: 25px;*/
    margin-right: 6px;
}

#support-grid ul li:last-child {
    margin-right: 0px;
}

#support-grid ul li img {
    margin-top: 0px
}

#support-grid ul li .on img {
    margin-top: -25px;transition: all 5s;
}

/*sectin==================================*/
/*bx slide======================================*/

.bx-wrapper {
    margin: 0 auto;
}

.container1 {
    position: relative;
    top: 50rem;
    margin: 0 auto;

}

.content_tt,
.content_desc {
    text-align: center;
    color: #fff;
    padding: 30px;
}

.content_tt {
    font-size: 4rem;
}

.recent_posts {
    padding: 80px 0;
}

.posts_list li {
    width: 370px;

}

.recent_img_wrap {
    position: relative;
}

.recent_img_wrap img {
    width: 370px;
    height: 500px;
}

/*
.recent_img_wrap .post_date { position:absolute; left:20px; top:20px; width:50px; border-radius:3px; overflow:hidden; color:#fff; text-align:center; z-index:2;}

.recent_img_wrap .post_date .date { background:#363636; display:block; line-height:35px; font-size:24px; font-weight:300;}

.recent_img_wrap .post_date .month { background:#252525; line-height:25px; font-size:12px;font-weight:300; display:block;}
*/

.recent_img_wrap .hover_contents {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(17, 17, 17, .7);
    opacity: 0;
    transition: 0.4s;
}

.recent_img_wrap .hover_contents span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    color: #fff;
}

.posts_list li:hover .hover_contents {
    opacity: 1;
}

.post_details {
    border-color: #f8f8f8;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    padding: 25px 30px;
    background: #fff;
    transition: 0.4s;
}

.post_details h4 {
    font-weight: 500;
    font-size: 20px;
    color: #555;
}

.post_details p {
    font-size: 14px;
    font-weight: 300;
    color: #8c8c8c;
    line-height: 22px;
    margin: 15px 0;
}

.post_details a {
    font-size: 14px;
    color: #d1b8f9;
    text-decoration: none;
}

.post_details a span {
    display: inline-block;
    margin-left: 5px;
}

.posts_list li:hover .post_details {
    background: #362f2d;
    border-color: transparent;
}

.posts_list li:hover .post_details h4 {
    color: #fff;
}

.posts_list li:hover .post_details p {
    color: #fff;
}

.posts_list li:hover .post_details a {
    color: #8464b6;
}

.posts_list li:hover .post_date .date {
    background: #c7b299;
}

.posts_list li:hover .post_date .month {
    background: #a48d72;
}

.controls {
    text-align: center;
    margin-top: 50px;
}

.controls a {
    width: 22px;
    height: 22px;
    display: inline-block;
    background: url(/img/sprites.png) no-repeat;
    text-indent: -9999em;
}

.controls a.bx-prev {
    background-position: -194px -89px;
}

.controls a.bx-next {
    background-position: -224px -89px;
}

.controls a.bx-prev:hover {
    background-position: -194px -111px;
}

.controls a.bx-next:hover {
    background-position: -224px -111px;
}



@media screen and (min-width:500px) {
    .bandd {
        grid-template-columns: 1fr 1fr;
    }

    .item-0 {
        grid-column: 1/3;
    }
}

@media screen and (min-width:850px) {
    .bandd {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 850px) {
    .header-wrap--no-sponsor ~ #main {
        margin-top: calc(50px + 100px);
    }

    #main {
        margin-top: calc(50px + 100px);
    }
}

@media screen and (min-width: 1400px) {
    .psg-tv-feature .card:first-child .card__image__placeholder .imageBackgroundCover {
        padding-top: 35.6%;
    }

    .card--full-height-image .imageBackgroundCover img {
        width: 200%;
        left: -50%;
    }
}

@media screen and (min-width: 1150px) {
    .psg-tv-feature .card:first-child .card__image__placeholder .imageBackgroundCover {
        padding-top: 35.5%;
    }
}

@media screen and (min-width: 1600px) {

    .secontainer,
    .umbraco-forms-form form {
        margin-left: auto;
        margin-right: auto;
    }

    .psg-tv-feature .card:first-child .card__image__placeholder .imageBackgroundCover {
        padding-top: 35.9%;
    }
}

@media screen and (min-width: 1020px) {
    .psg-tv-card__image .imageBackgroundCover {
        padding-top: 78%;
    }

    .psg-tv-carousel {
        padding-top: 20px;
        margin-bottom: 20px;
    }

    .psg-tv-search {
        width: calc(25% - 24px);
    }

    .psg-tv-feature .card:first-child .card__title {
        width: 75%;
    }

    .psg-tv-feature .card:first-child .card__image__img .imageBackgroundCover img {
        width: 100%;
        left: 0%;
    }

    .psg-tv-feature .card:first-child .card__image__img .imageBackgroundCover {
        padding-top: 75%;
    }

    .psg-tv .content-grid {
        -ms-grid-columns: 25% 25% 25% 25%;
        grid-template-columns: 25% 25% 25% 25%;
        width: calc(100% - 90px);
    }

    .content-grid {
        -ms-grid-columns: 33.33% 33.33% 33.33%;
        grid-template-columns: 33.33% 33.33% 33.33%;
        width: calc(100% - 60px);
    }

    .psg-tv-feature .content-grid .card:first-child {
        -ms-grid-column: 1;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .psg-tv-feature .card:first-child .card__image__placeholder .imageBackgroundCover {
        padding-top: 35%;
    }
}

@media screen and (min-width: 1020px) and (min-width: 768px) {

    .title-and-count__count,
    .title-and-count__bubble {
        font-size: 16px;
        font-size: 1.6rem;
    }

    .title-and-count__title:after {
        max-width: 100%;
        bottom: -13px;
    }

    .title-and-count__title {
        font-size: 26px;
        font-size: 2.6rem;
        margin-bottom: 30px;
    }

    .psg-tv-card__body {
        padding-bottom: 10px;
    }

    .psg-tv-card {
        margin: 0 15px;
    }

    .psg-tv-carousel .carousel__swiper {
        margin-right: -15px;
        margin-left: -15px;
    }

    .psg-tv-search__inner {
        position: relative;
        width: 100%;
    }

    .psg-tv-search {
        margin-bottom: 0;
        margin-left: auto;
        text-align: right;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
        width: 35%;
    }

    .psg-tv-masthead__header {
        font-size: 45px;
        font-size: 4.5rem;
        line-height: 1.11111;
        margin-top: 170px;
        width: 50%;
        margin-right: auto;
    }

    .card--full-height-image .card__image__img .imageBackgroundCover {
        padding-top: 150%;
    }

    .card--full-height-image .card__image__img .imageBackgroundCover img {
        width: 150%;
        left: -25%;
    }

}

@media screen and (min-width: 768px) {
    .psg-tv-carousel {
        padding-bottom: 80px;
    }

    .psg-tv-masthead__content {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: end;
        align-items: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }

    .psg-tv-masthead__sponsor {
        top: 45px;
    }

    .card--full-height-image .card__image__img .imageBackgroundCover {
        padding-top: 134%;
    }

    .card--full-height-image .card__content {
        height: 100%;
        display: block;
    }

    .card__footer {
        bottom: 35px;
    }

    .card__title {
        margin-top: 17px;
        min-height: 90px;
        margin-bottom: 70px;
    }

    .card--full-height-image .card__title {
        overflow: visible;
    }

    .card--full-height-image .card__title {
        padding-top: 30px;
    }

    .card__video-preview .fluid-video-wrapper {
        padding-top: 90%;
        width: 140%;
        margin-left: -20%;
        margin-top: -10%;
    }

    .card--full-height-image .card__image__img:after {
        content: ' ';
        background-image: linear-gradient(rgba(26, 36, 52, 0), #1a2434);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .card--full-height-image .card__image__img {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .content-grid {
        -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
        grid-column-gap: 30px;
        width: calc(100% - 30px);
    }

    .psg-tv-feature .content-grid .card:first-child {
        -ms-grid-column: 1;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .card--full-height-image .card__content {
        height: 100%;
        display: block;
    }

    .card__icon {
        bottom: auto;
        top: 23px;
        left: 15px;
    }

    .card--full-height-image .card__image__placeholder {
        display: block;
    }

    .card--full-height-image .card__image__img .imageBackgroundCover img {
        width: 136%;
        left: -18%;
    }
}

@media screen and (min-width: 1300px) {
    .psg-tv-feature .content-grid .card:first-child {
        -ms-grid-column: 1;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .content-grid {
        -ms-grid-columns: 25% 25% 25% 25%;
        grid-template-columns: 25% 25% 25% 25%;
        width: calc(100% - 90px);
    }

    .card--full-height-image .imageBackgroundCover img {
        width: 230%;
        left: -65%;
    }
}

@media (min-width: 530px) {
    .psg-tv-search {
        max-width: 50%;
    }

    .card__title {
        font-size: 20px;
        font-size: 2rem;
        line-height: 1.5;
        max-height: 60px;
    }

    .card__body {
        padding-left: 20px;
        padding-right: 20px;
    }
}



/*slick video==================================*/



.video-playlist {
    position: relative;
    top: 1rem;
    margin-top: 50px;
    margin-bottom: 60px;
    overflow: hidden;

}

.videocontainer {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.slider {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.heading {
    font-size: 24px;
    font-weight: 400;
    line-height: .9;
    color: #fff;
    white-space: nowrap;
    margin-bottom: 2rem;
}

.heading::after {
    background: repeating-linear-gradient(-45deg, transparent, transparent 4px, #0b2179 5px, #fff 10px, transparent 11px);
    content: "";
    display: inline-block;
    position: relative;
    height: .7em;
    width: 100px;
    margin-left: 20px;

}

.autoplay {
    overflow: visible;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    padding: 0;
    z-index: 1;
    transform: translate3d(0px, 0px, 0px);
    transition-duration: 0ms;
    width: 100%;
    height: 100%;
    z-index: 1;
    box-sizing: content-box;
    transition-property: transform;
}

.autoslide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 41.66667%;
    /*    max-width: 100%;*/

}

.itemm {
    position: relative;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.imgbox {
    padding-top: 56.25%;
    position: relative;
}

.imgbox .imgg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity .5s;
    object-fit: cover;
}

.play-button {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -17.5px;
    margin-top: -17.5px;
    opacity: 1;
    transition: opacity .5s;
    background: no-repeat 50%;
    background-image: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB3aWR0aD0nMzUnIGhlaWdodD0nMzUnIHZpZXdCb3g9JzAgMCAzNSAzNScgZmlsbD0nbm9uZScgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJz48Y2lyY2xlIG9wYWNpdHk9Jy42JyBjeD0nMTcuNScgY3k9JzE3LjUnIHI9JzE3LjI1JyBzdHJva2U9JyNmZmYnIHN0cm9rZS13aWR0aD0nLjUnLz48cGF0aCBkPSdNMTQuNjggMTEuMThMMjMuODIgMTdsLTkuMTQgNS44MlYxMS4xOHonIGZpbGw9JyNmZmYnLz48L3N2Zz4=);
}

.title {
    /*    font-family: Bebas Neue, Helvetica;*/
    letter-spacing: .02em;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-top: 20px;
    max-width: 80%;
    color: #fff;
}

@media (min-width:992px) {
    .container {
        max-width: 97%;
    }
}

@media (min-width:768px) {
    .slider {
        margin-left: 16.66667%;
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .col-10 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    #footer .-acknowled {
        border-bottom: 1px solid hsla(0, 0%, 100%, .1);
    }

    .col-12 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .lower {
        position: relative;
        margin-top: 40px;
    }

    #footer .lower .-banner {
        margin-bottom: 0;
        display: inline-flex;
        position: absolute;
        transform: translateX(100%) rotate(90deg);
        right: 0;
        top: 0;
        transform-origin: top left;
        width: auto;
    }

    .-tape {
        height: 38px;
    }

    #footer .lower .freedom {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 400px;
        text-align: right;
        margin-bottom: -20px;
    }


    .itemmm {
        position: relative;

        width: 300px;
    }

    .imgbox1 {
        padding-top: 100%;
        position: relative;


    }

    .imgbox1 img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: opacity .5s;
        object-fit: cover;
    }

    #footer .-end {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid hsla(0, 0%, 100%, .1);
        padding-top: 20px;
        margin-top: 50px;
    }
}
